<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %>  <a href="mailto:jcmanjiri1912@gmail.com? subject=Regarding bloggit">✉</a></p>
   
<%- include("partials/footer"); -%>
